/*global css*/
.hl {background-color: aliceblue;font-style: normal;
    color:rgb(9, 48, 120);
font-family: SimSun, Source Code Pro, Arial, Helvetica, sans-serif;}

body {
    background-color:gainsboro;
}
.title {
    font-size: 40px;
    border:2px solid black;
    padding: 10px;
    font-weight: 200;
}